body {
	background-color: rgb(246, 245, 242);
	font-family: times, sans-serif
}
header {
	padding: 20px;
}
h1 {
	margin-top: 0px;
	margin-left: 20px;
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 20px;
	background-color: rgb(186, 171, 144);
}
h2 {
	margin-left: 50px;
}
h3 {
	margin-left: 20px;
}
p {
	padding-left: 50px;
}
.control-box {
	padding-left: 50px;
}
#results-box {
	padding: 20px;
}
.box {
	display: block;
	margin-left: 20px;
	margin-top: -1em;
	margin-bottom: 1em;
	padding: 1em;
	padding-left: 30px;
	background-color: rgb(255, 255, 255);
}
code {
	word-break: break-all;
}
.collapsible {
	background-color: rgb(186, 171, 144);
	color: black;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.active, .collapsible:hover {
	background-color: rgb(186, 171, 144);
}

.collapsible:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	color: white;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.content {
	padding: 0 18px;
	max-height: 0;
	overflow: scroll;
	transition: max-height 0.2s ease-out;
	background-color: rgb(246, 245, 242);
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 240px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 5%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
} 
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.copyButton {
	background:linear-gradient(to bottom, #baab90 5%, #baab90 100%);
	background-color:#baab90;
	border-radius:3px;
	border:1px solid #baab90;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:11px;
	padding:4px 4px;
}
.copyButton:hover {
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	background-color:#634b30;
}
.copyButton:active {
	position:relative;
	top:1px;
}
